{{ partial "head.html" . }}
{{ partial "header.html" . }}
{{ partial "hero.html" . }}
<section class="full-spread has-text-white secshun" id="form-section">
	<div class="columns is-centered">
		<div class="column is-three-fifths has-text-centered">
			<h3 class="beeg-heading is-centered" style="margin-bottom: 20px;">
				Join AmadorUAVs
			</h3>
			<p>Please sign up for our mailing list to get information about our first intro meeting and entrance assignments. Once done, submit your entrance assignment and we'll review it!</p>
		</div>
	</div>

  <div style="background-color: #272727; border: none; border-radius: 5px;">
    <button id="switch-to-mailing-list-btn" class="button is-danger" style="border-bottom-right-radius: 0px !important; border-top-right-radius: 0px !important;">
      Mailing List
    </button>
    <button id="switch-to-entrance-btn" class="button is-inactive-gray" style="border-bottom-left-radius: 0px !important; border-top-left-radius: 0px !important;">
      Entrance Assignment Submissions
    </button>
  </div>

  <div class="columns" id="join-form-container">
      <div class="column is-two-fifths" id="join-form-text">
        <p class="is-size-4" id="form-title" style="font-weight: bold;">{{ .Params.mailing_list_instructions.title }}</p>
        <br>
        <p class="is-size-5" id="form-instructions">{{ .Params.mailing_list_instructions.instructions }}</p>
        <br>
        <a href="{{ .Params.entrance_assignment_instructions.software_link }}"><button class="button is-grouped is-link" id="software-assignment" style="display: none;">Software</button></a>
        <a href="{{ .Params.entrance_assignment_instructions.mechanical_link }}"><button class="button is-grouped is-link" id="mech-assignment" style="display: none;">Mechanical</button></a>
        <a href="{{ .Params.entrance_assignment_instructions.electrical_link }}"><button class="button is-grouped is-link" id="electrical-assignment" style="display: none;">Electrical</button></a>
        <a href="{{ .Params.entrance_assignment_instructions.business_link }}"><button class="button is-grouped is-link" id="business-assignment" style="display: none;">Business</button></a>
      </div>

      <div class="column is-three-fifths" id="join-form-div">
        <!-- Static hidden join form for netlify -->
        <form name="entrance" method="POST" data-netlify="true" hidden>
          <fieldset name="page-1">  
            <input type="text" name="first-name">
            <input type="text" name="last-name">
            <input type="email" name="email">
            <!--<input type="tel" name="phone-number">-->
            <select name="grade">
              <option value="grade-9"></option>
              <option value="grade-10"></option>
              <option value="grade-11"></option>
              <option value="grade-12"></option>
            </select>
            <select name="division">
              <option value="div-software">Software</option>
              <option value="div-mech">Mechanical</option>
              <option value="div-business">Business</option>
            </select>         
          </fieldset>

          <fieldset name="software-p2" hidden>
            <input type="url" name="code-folder">
            <input type="url" name="portfolio">
            <input type="checkbox" name="interest-low-level">
            <input type="checkbox" name="interest-high-level">
            <input type="checkbox" name="interest-vision">
            <input type="checkbox" name="interes-other-ml">
            <input type="checkbox" name="interest-web-dev">
            <input type="checkbox" name="interest-mobile-dev">
            <input type="checkbox" name="area-low-level">
            <input type="checkbox" name="area-high-level">
            <input type="checkbox" name="area-vision">
            <input type="checkbox" name="area-other-ml">
            <input type="checkbox" name="area-web-dev">
            <input type="checkbox" name="area-mobile-dev">
            <input type="checkbox" name="lang-c">
            <input type="checkbox" name="lang-c++">
            <input type="checkbox" name="lang-rust">
            <input type="checkbox" name="lang-python">
            <input type="checkbox" name="lang-js">
            <input type="checkbox" name="lang-swift">
            <input type="checkbox" name="lang-dart">
            <input type="checkbox" name="lang-go">
            <input type="checkbox" name="lang-java">
          </fieldset>
        
          <fieldset name="mech-p2" hidden>
            <input type="url" name="mech-folder"> 
          </fieldset>
            
          <fieldset name="business-p2" hidden>
            <input type="url" name="business-folder">
          </fieldset>
        </form>

        <!-- Static hidden mailing list form for netlify -->
        <form name="mailing-list" method="POST" data-netlify="true" hidden>
          <input type="text" name="first-name">
          <input type="text" name="last-name">
          <input type="email" name="email">
          <!--<input type="tel" name="phone-number">-->
          <select name="grade">
            <option value="grade-9"></option>
            <option value="grade-10"></option>
            <option value="grade-11"></option>
            <option value="grade-12"></option>
          </select>
          <select name="division">
            <option value="div-software">Software</option>
            <option value="div-mech">Mechanical</option>
            <option value="div-business">Business</option>
          </select>      
        </form>    
      </div>
    </div>
  </div>
</section>
<section class="full-spread has-text-white has-background-grey-darker secshun" id="video-section">
  <div class="columns is-centered">
		<div class="column has-text-centered is-flex is-flex-direction-column is-align-items-center">
      <div style="width: 60%;">
        <h3 class="beeg-heading is-centered" style="margin-bottom: 20px;">
          Informational Meeting
        </h3>
        <p>Our club's informational meeting was held on Friday, September <!--
        -->2nd in the engineering room (G5). For those who were unable to <!--
        -->attend, we have included a recording of the meeting below:</p>
      </div>
      <iframe
        style="margin-top: 20px; width: max(54vw, 400px); height: max(27vw, 225px);"
        src="https://www.youtube.com/v/9hehuGaiH0w"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
    </div>
  </div>
</section>
{{ partial "footer.html" . }}
<script>

  // Global variables
  var entranceForm;
  var mailingListForm;
  var entrance_p1;
  var entrance_software_p2;
  var entrance_mech_p2;
  var entrance_business_p2;
  var entrance_nextButton;
  var mailing_list_submitButton;
  var switchToMailingListBtn;
  var switchToEntranceBtn;
  var softwareAssignment;
  var mechAssignment;
  var electricalAssignment;
  var businessAssignment;
  var formTitle;
  var formInstructions;
  var division;
  const software_areas = ["Low level robotics (low level C/Rust, drivers for a gimbal, etc.)", 
  "High level robotics/control (controlling drone via MAVSDK-Python, etc.)", 
  "Vision (Object Detection / Image Classification, TF/PyTorch)", 
  "Other ML Applications (e.g. genetic algorithms)", 
  "Application Development (Web/Fullstack)", 
  "Application Development (Mobile)"];
  const software_languages = ["C", "C++", "Rust", "Python", "JS", "Swift", "Dart", "Go", "Java"];
  const software_area_checkboxes = ["low-level", "high-level", "vision", "other-ml", "web-dev", "mobile-dev"];
  const grades = ["Freshman", "Sophomore", "Junior", "Senior"];

  document.addEventListener('DOMContentLoaded', function() {
    feather.replace();

    // Create entrance form and pages
    entranceForm = document.createElement('form');
    entranceForm.name = "entrance";
    entranceForm.method = "POST";
    entrance_p1 = document.createElement("fieldset");
    entrance_p1.id = "page-1";
    entrance_p1.name = "page-1";
    entrance_software_p2 = document.createElement('fieldset');
    entrance_software_p2.id = 'software-p2';
    entrance_software_p2.name = 'software-p2';
    entrance_mech_p2 = document.createElement('fieldset');
    entrance_mech_p2.id = 'mech-p2';
    entrance_mech_p2.name = 'mech-p2';
    entrance_business_p2 = document.createElement('fieldset');
    entrance_business_p2.id = 'business-p2';
    entrance_business_p2.name = 'business-p2';
    createEntranceForm();

    // Add netlify input for entrance form
    var netlify_input = document.createElement("input");
    netlify_input.type = "hidden";
    netlify_input.name = "form-name";
    netlify_input.value = "entrance";
    entranceForm.appendChild(netlify_input);

    // Create mailing list form and add netlify input
    mailingListForm = document.createElement('form');
    mailingListForm.name = "mailing-list";
    mailingListForm.method = "POST";
    createContactForm(mailingListForm, "mail-submit-btn", "Submit", "mailing-list-division");
    netlify_input = document.createElement("input");
    netlify_input.type = "hidden";
    netlify_input.name = "form-name";
    netlify_input.value = "mailing-list";
    mailingListForm.appendChild(netlify_input);
    mailing_list_submitButton = mailingListForm.querySelector("#mail-submit-btn");
    
    // Add both forms to container div
    document.getElementById("join-form-div").appendChild(mailingListForm);
    document.getElementById("join-form-div").appendChild(entranceForm);

    // Hide entrance form by default
    hide(entranceForm);

    // Add button listener for mailing list form
    mailing_list_submitButton.addEventListener('click', function() {
      
      // Validate
      if (!mailingListForm.checkValidity()) {

        // Show error messages
        mailingListForm.reportValidity();
      }
      else {
        mailingListForm.submit();
      }
    });

    // Add button listener for entrance form
    entrance_nextButton.addEventListener('click', function() {

      // Validate
      if (!entranceForm.checkValidity()) {

        // Show error messages
        entranceForm.reportValidity();
      }
      else {
        hide(entrance_p1);

        // Check what division selected
        division = document.getElementById("entrance-division")
        switch (division.value) {
          case 'div-software':
            console.log("sogtware");
            console.log(division.value);
            entranceForm.appendChild(entrance_software_p2);
            show(entrance_software_p2);
            break;

          case 'div-business':
            entranceForm.appendChild(entrance_business_p2);
            show(entrance_business_p2);
            break;

          case 'div-mech': 
            entranceForm.appendChild(entrance_mech_p2);
            show(entrance_mech_p2);
            break;
        }

        // Add submit buttom
        submit = document.createElement('button');
        submit.type = 'submit';
        submit.className = 'button is-success';
        submit.innerHTML = 'Submit';
        submit.style.marginTop = '30px';
        entranceForm.append(submit);
      }
    });

    /** Add button listeners for form switches **/
    switchToMailingListBtn = document.getElementById("switch-to-mailing-list-btn");
    switchToEntranceBtn = document.getElementById("switch-to-entrance-btn");
    formTitle = document.getElementById("form-title");
    formInstructions = document.getElementById("form-instructions");
    softwareAssignment = document.getElementById("software-assignment");
    mechAssignment = document.getElementById("mech-assignment");
    electricalAssignment = document.getElementById("electrical-assignment");
    businessAssignment = document.getElementById("business-assignment");

    // Mailing list form 
    switchToMailingListBtn.addEventListener('click', function() {
      switchToMailingListBtn.classList.remove("is-inactive-gray");
      switchToMailingListBtn.classList.add("is-danger");
      switchToEntranceBtn.classList.remove("is-danger");
      switchToEntranceBtn.classList.add("is-inactive-gray");

      formTitle.innerHTML = "{{ .Params.mailing_list_instructions.title }}";
      formInstructions.innerHTML = "{{ .Params.mailing_list_instructions.instructions }}";

      hide(entranceForm);
      hide(softwareAssignment);
      hide(mechAssignment);
      hide(electricalAssignment);
      hide(businessAssignment);
      show(mailingListForm);
    })

    // Entrance form
    switchToEntranceBtn.addEventListener('click', function() {
      switchToEntranceBtn.classList.remove("is-inactive-gray");
      switchToEntranceBtn.classList.add("is-danger");
      switchToMailingListBtn.classList.remove("is-danger");
      switchToMailingListBtn.classList.add("is-inactive-gray");

      formTitle.innerHTML = "{{ .Params.entrance_assignment_instructions.title }}";
      formInstructions.innerHTML = "{{ .Params.entrance_assignment_instructions.instructions }}";

      hide(mailingListForm);
      show(entranceForm);
      showNormal(softwareAssignment);
      showNormal(mechAssignment);
      showNormal(electricalAssignment);
      showNormal(businessAssignment);
    })
  });

  // Hide element 
  function hide(element) {
    element.style.display = "none";
  }

  // Show element
  function show(element) {
    element.style.display = "block";
  } 

  function showNormal(element) {
    element.style.display = "inherit";
  }

  // Create join form pages
  function createEntranceForm() {
    
    // Create contact part of entrance form
    createContactForm(entrance_p1, "entrance-next-btn", "Next", "entrance-division");
    entrance_nextButton = entrance_p1.querySelector("#entrance-next-btn");
    console.log(entrance_nextButton)
    entranceForm.append(entrance_p1)

    /** Create software page 2 **/
    // Title
    var title = document.createElement('p');
    title.className = 'is-size-4';
    title.innerHTML = 'Software Division';
    title.style.fontWeight = 'bold';
    entrance_software_p2.appendChild(title);

    // Code folder link
    field = document.createElement('div');
    field.className = 'field';
    l = document.createElement('label');
    l.className = 'label';
    l.innerHTML = 'Link to Code Folder (Parts 1 and 2) - 3 Files';
    field.appendChild(l);
    control = document.createElement('div');
    control.className = 'control';
    field.appendChild(control);
    input = document.createElement('input');
    input.className = 'input'
    control.appendChild(input);
    entrance_software_p2.appendChild(field);

    // Portfolio link
    field = document.createElement('div');
    field.className = 'field';
    l = document.createElement('label');
    l.className = 'label';
    l.innerHTML = 'Link to Portfolio';
    field.appendChild(l);
    control = document.createElement('div');
    control.className = 'control'
    field.appendChild(control);
    input = document.createElement('input');
    input.className = 'input'
    input.type = 'url';
    input.name = 'portfolio';
    input.required = 'true';
    control.appendChild(input);
    entrance_software_p2.appendChild(field);

    // Software interests (checkboxes)
    field = document.createElement('div');
    field.className = 'field';
    l = document.createElement('label');
    l.className = 'label';
    l.innerHTML = 'What areas are you most interested in learning about this year?';
    field.appendChild(l);
    var checkbox_div = document.createElement('div');
    checkbox_div.className = 'checkbox-div';
    var index = 0;
    for (const option of software_areas) {
      l = document.createElement('label');
      l.className = 'checkbox';
      input = document.createElement('input');
      input.type = 'checkbox';
      input.name = `interest-${software_area_checkboxes[index]}`;
      l.appendChild(input);
      l.innerHTML += option;
      checkbox_div.append(l);
      checkbox_div.append(document.createElement('br'));
      index++;
    }
    field.append(checkbox_div)
    entrance_software_p2.append(field);

    // Software strong suits (checkboxes)
    field = document.createElement('div');
    field.className = 'field';
    l = document.createElement('label');
    l.className = 'label';
    l.innerHTML = 'What areas are your strong suits? (Does not have to match interests)';
    field.appendChild(l);
    var checkbox_div = document.createElement('div');
    checkbox_div.className = 'checkbox-div';
    index = 0;
    for (const option of software_areas) {
      l = document.createElement('label');
      l.className = 'checkbox';
      input = document.createElement('input');
      input.type = 'checkbox';
      input.name = `area-${software_area_checkboxes}`;
      l.appendChild(input);
      l.innerHTML += option;
      checkbox_div.append(l);
      checkbox_div.append(document.createElement('br'));
      index++;
    }
    field.append(checkbox_div)
    entrance_software_p2.append(field);

    // Software languages (checkboxes)
    field = document.createElement('div');
    field.className = 'field';
    l = document.createElement('label');
    l.className = 'label';
    l.innerHTML = 'What languages do you have significant experience in?';
    field.appendChild(l);
    var checkbox_div = document.createElement('div');
    checkbox_div.className = 'checkbox-div';
    index = 0;
    for (const option of software_languages) {
      l = document.createElement('label');
      l.className = 'checkbox';
      input = document.createElement('input');
      input.type = 'checkbox';
      input.name = `lang-${software_languages[index].toLowerCase()}`;
      l.appendChild(input);
      l.innerHTML += option;
      checkbox_div.append(l);
      checkbox_div.append(document.createElement('br'));
      index++;
    }
    field.append(checkbox_div)
    entrance_software_p2.append(field);
    
    /** Create mechanical page 2 **/
    // Title
    title = document.createElement('p');
    title.className = 'is-size-4';
    title.innerHTML = 'Electromechanical Division';
    title.style.fontWeight = 'bold';
    entrance_mech_p2.appendChild(title);

    // Folder link
    field = document.createElement('div');
    field.className = 'field';
    l = document.createElement('label');
    l.className = 'label';
    l.innerHTML = 'Link to the folder (make sure it is shared!)';
    field.appendChild(l);
    control = document.createElement('div');
    control.className = 'control'
    field.appendChild(control);
    input = document.createElement('input');
    input.className = 'input'
    input.type = 'url';
    input.name = 'mech-folder';
    input.required = 'true';
    control.appendChild(input);
    entrance_mech_p2.appendChild(field);

    /** Create business page 2 **/
    // Title
    title = document.createElement('p');
    title.className = 'is-size-4';
    title.innerHTML = 'Business Division';
    title.style.fontWeight = 'bold';
    entrance_business_p2.appendChild(title);

    // Folder link
    field = document.createElement('div');
    field.className = 'field';
    l = document.createElement('label');
    l.className = 'label';
    l.innerHTML = 'Link to Google Drive folder';
    field.appendChild(l);
    control = document.createElement('div');
    control.className = 'control'
    field.appendChild(control);
    input = document.createElement('input');
    input.className = 'input'
    input.type = 'url';
    input.name = 'business-folder';
    input.required = 'true';
    control.appendChild(input);
    entrance_business_p2.appendChild(field);  
  }

  function createContactForm(fieldset, button_id, button_text, division_id) {
    /** Create contact form (First, Last, Email, Division) **/
    var horizontal = document.createElement('div');
    horizontal.className = "field is-horizontal";
    var body = document.createElement("div");
    body.className = "field-body"; 

    // First name
    var field = document.createElement("div");
    field.className = "field";
    var l = document.createElement("label");
    l.className = "label";
    l.innerHTML = "First name";
    field.appendChild(l);
    var control = document.createElement("div");
    control.className = "control";
    var input = document.createElement("input");
    input.type = "text";
    input.className = "input";
    input.name = "first-name";
    input.required = "true";
    control.appendChild(input);
    field.appendChild(control);
    body.appendChild(field);

    // Last name
    field = document.createElement("div");
    field.className = "field";
    l = document.createElement("label");
    l.className = "label";
    l.innerHTML = "Last name";
    field.appendChild(l);
    control = document.createElement("div");
    control.className = "control";
    input = document.createElement("input");
    input.type = "text";
    input.className = "input";
    input.name = "last-name";
    input.required = "true";
    control.appendChild(input);
    field.appendChild(control);
    body.appendChild(field);

    horizontal.appendChild(body);
    fieldset.appendChild(horizontal);

    // Email
    field = document.createElement("div");
    field.className = "field";
    l = document.createElement("label");
    l.className = "label";
    l.innerHTML = "Email";
    field.appendChild(l);
    control = document.createElement("div");
    control.className = "control";
    input = document.createElement("input");
    input.type = "email";
    input.className = "input";
    input.name = "email";
    input.required = "true";
    control.appendChild(input);
    field.appendChild(control);
    fieldset.appendChild(field);

    /**
    // Phone number
    field = document.createElement("div");
    field.className = "field";
    l = document.createElement("label");
    l.className = "label";
    l.innerHTML = "Phone number (10-digit)";
    field.appendChild(l);
    control = document.createElement("div");
    control.className = "control";
    input = document.createElement("input");
    input.type = "tel";
    input.className = "input";
    input.name = "phone-number";
    input.required = "true";
    input.pattern = "[0-9]{10}";
    control.appendChild(input);
    field.appendChild(control);
    entrance_p1.appendChild(field);
    **/

    horizontal = document.createElement('div');
    horizontal.className = "field is-horizontal";
    body = document.createElement("div");
    body.className = "field-body";

    // Grade
    field = document.createElement("div");
    field.className = "field";
    l = document.createElement("label");
    l.className = "label";
    l.innerHTML = "Grade";
    field.appendChild(l);
    var select_div = document.createElement("div");
    select_div.className = "select is-fullwidth";
    var select = document.createElement("select");
    select.name = "grade";
    select.required = "true";
    var o;
    for (var i = 9; i < 13; i++) {
      o = document.createElement("option");
      o.innerHTML = `${grades[i-9]}`;
      o.value = `grade-${i}`;
      select.appendChild(o);
    }
    select_div.appendChild(select);
    field.appendChild(select_div);
    body.appendChild(field);

    // Division
    field = document.createElement("div");
    field.className = "field";
    l = document.createElement("label");
    l.className = "label";
    l.innerHTML = "Division";
    field.appendChild(l);
    var select_div = document.createElement("div");
    select_div.className = "select is-fullwidth";
    division = document.createElement("select");
    division.name = "division";
    division.id=`${division_id}`
    division.required = "true";
    var o = document.createElement("option");
    o.innerHTML = "Software";
    o.value = "div-software";
    division.appendChild(o);
    o = document.createElement("option");
    o.innerHTML = "Electromechanical";
    o.value = "div-mech";
    division.appendChild(o);
    o = document.createElement("option");
    o.innerHTML = "Business";
    o.value = "div-business"
    division.appendChild(o);
    select_div.appendChild(division);
    field.appendChild(select_div);
    body.appendChild(field);

    horizontal.appendChild(body);
    fieldset.appendChild(horizontal);
    
    // Next button
    field = document.createElement("div");
    field.className = "field";
    control = document.createElement("div");
    control.className = "control";
    var button = document.createElement("button");
    button.type = "button";
    button.type = "submit"
    button.className = "button is-success";
    button.id = `${button_id}`;
    button.innerHTML = `${button_text}`;
    control.appendChild(button);
    field.appendChild(control);

    fieldset.appendChild(field);
  }

</script>
