{{ partial "head.html" . }}
{{ partial "header.html" . }}
{{ partial "hero.html" . }}
<section class="full-spread secshun second-about-section">
  <h1 class="beeg-subtitle">Current Sponsors</h1>
  <p>Many thanks to the organizations who have given monetary, component, or service donations to our club! Also, special thanks to any individuals who have donated to our group!</p>
  <div class="row">
  {{ range $cool_people := .Params.big_cool_people }}
  <a href="{{ $cool_people.link }}">
    <img src="{{ $cool_people.image }}" class="cool_people-link big-cool_people-link">
  </a>
  {{ end }}
  </div>
  <div class="row">
  {{ range $cool_people := .Params.cool_people }}
  <a href="{{ $cool_people.link }}">
    <img src="{{ $cool_people.image }}" class="cool_people-link"></img>
  </a>
  {{ end }}
  </div>
  <h2 class="beeg-subtitle">Affiliates</h2>
  <p>These are projects and groups who do not sponsor us, but whom we are affiliated with.</p>
  <div class="row">
  {{ range $cool_people := .Params.affiliates}}
  <a href="{{ $cool_people.link }}">
    <img src="{{ $cool_people.image }}" class="cool_people-link"></img>
  </a>
  {{ end }}
  </div>
</section>
<section class="full-spread has-text-white secshun main-about-section">
  <h1 class="beeg-subtitle">Sponsorship Levels & Benefits</h1>
  <p>Contact us at <a href="mailto:officers@amadoruavs.com">officers@amadoruavs.com</a> to learn more.</p>
  <div class="row">
    {{ range $section_index, $cool_people_section := .Params.cool_people_sections }}
      {{ if eq (mod $section_index 2) 0 }}
        <div class="about-section">
      {{ else }}
        <div class="about-section rtl">
      {{ end }}
<!--        <img class="about-image" src="{{ $cool_people_section.image }}"/>-->
          <div class="about-text">
            <h3 class="beeg-subtitle" >{{ $cool_people_section.title }}</h3>
            <p>
              {{ $cool_people_section.content }}
            </p>
            <div class="row">
              {{ range $link := $cool_people_section.links }}
              <a href="{{ $link.href }}" class="button {{ $link.variant }} my-3 mx-1">
                {{ $link.text }}
              </a>
              {{ end }}
            </div>
          </div>
        </div>
    {{ end }}
  </div>
</section>

{{ partial "footer" . }}

<style>

  .cool_people-link {
    height: 4rem;
    margin: 2rem;
    transition: all 200ms;
  }

  .big-cool_people-link {
    height: 8rem;
  }

  .cool_people-link:hover {
    transform: scale(1.1);
  }
  .main-about-section {
    background: linear-gradient(135deg,
                              #CE2A80D0,
                              #AD369AD0 25%,
                              #8344BED0 50%,
                              #585ED3D0 75%,
                              #2B8ECFD0),
              #000;
  }

  .second-about-section {
    background: white;
  }
  .about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    border-radius: 15px;
    margin: 15px 15px;
    background-color: #FFFFFF20;
    max-width: 960px;
  }
  .about-section p {
    font-size: 18px;
  }
  .about-text{
      text-align: center
  }, .about-image {
    width: 48%;
  }
  .about-image {
    object-fit: cover;
    max-height: 500px;
    border-radius: 10px;
  }
  @media (max-width: 960px) {
    .rtl {
      direction: ltr;
    }
    .about-section {
      flex-direction: column;
    }
    .about-text, .about-image {
      width: 80%;
      margin: 15px 0;
    }

    .cool_people-link {
      height: 2rem;
      margin: 2rem 0.5rem;
    }

    .big-cool_people-link {
      height: 4rem;
    }
  }

</style>


<script>
  feather.replace()
</script>
