body {
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Display', sans-serif;
}

.full-spread {
  min-height: 100vh;
  min-width: 100vw;
}

.card {
  display: flex;
  flex-direction: column;
}

.constrained-card-content {
  width: 16rem;
  height: 20rem;
}

.card > .card-content > .content {
  flex: 60;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#macron-hero {
  background:
    linear-gradient(
        rgba(0, 0, 0, 0.45),
        rgba(0, 0, 0, 0.45)
      ),
    url("/boreas-highres.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  vertical-align: bottom;
  padding-bottom: 4rem;
  text-align: center;
}

.beeg-title {
  font-size: 96px;
  font-weight: 900;
  margin-bottom: -1.5rem;
}

.beeg-subtitle {
  font-size: 34px;
  font-weight: 900;
  margin-top: 0rem;
}

.beeg-heading {
  font-size: 40px;
  font-weight: 900;
  margin-top: 0rem;
}

.thicc {
  font-weight: 900;
}

.secshun {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: bottom;
  padding: 4rem;
}

#form-section {
  text-align: initial;
}

@media (max-width: 960px) {
  .beeg-title {
    font-size: 64px;
    margin-bottom: -0.5rem;
  }

  .beeg-subtitle {
    font-size: 24px;
    margin-top: 0rem;
  }

  .beeg-heading {
    font-size: 28px;
    font-weight: 900;
    margin-top: 0rem;
  }

  .secshun {
    padding: 4rem 2rem;
  }
}

@media (max-width: 520px) {
  #macron-hero {
    padding-bottom: 5rem;
  }

  .beeg-title {
    font-size: 44px;
    margin-bottom: -0.5rem;
  }

  .beeg-subtitle {
    font-size: 20px;
    margin-top: 0rem;
  }

  .beeg-heading {
    font-size: 24px;
    font-weight: 900;
    margin-top: 0rem;
  }
}

#join-form-container {
  margin: 0 auto;
  width: 80%;
  margin-top: 50px;
  word-break: break-word;
}

#join-form-container a {
  color: white;
}

#join-form-container button {
  margin-right: 3px;
  margin-top: 6px;
}

#join-form-text {
  background: linear-gradient(to bottom right, #410066, #6C4ED1);
  color: white;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  text-align: left;
  padding: 40px;
}

#join-form-div {
  background-color: #272727;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 30px 40px 40px 40px;
}

.is-inactive-gray {
  background-color: #272727 !important;
  color: white !important;
  border-color: #272727 !important;

}

.label{
  text-align: left;
  margin-top: 20px;
}

#radio:hover {
  color: white;
}

.checkbox-div {
  background-color: #505050;
  border-radius: 3px;
  padding: 10px
}

input[type="checkbox"] {
  margin-right: 10px;
}

.checkbox {
  margin-bottom: 10px;
  font-size: 17px;
}

.uavs-logo-larger {
  height: 50px;
}

i.fa-2x {
  margin-left: 50px;
  color: white;
}
