@charset "utf-8";

// Initial variables
$gray: #505050;
$white: #FFF;
$pink: #CE2A7F;
$dark_gray: #272727;
$card_gray: #333;

// Derived variables
$primary: #CE2A7F;
$success: $gray;
$link: $pink;

$card-background-color: $card_gray;
$card-color: $white;
$card-header-color: $white;
$input-background-color: $gray;
$label-color: $white;
$input-color: $white;
$input-border-color: $gray;
$input-hover-color: $white;
$footer-background-color: #505050;
$footer-padding: 60px;
$footer-color: $white;

@import "../node_modules/bulma/bulma.sass";
