<footer class="footer">
  <div class="is-flex is-justify-content-center">
    <img id="footer-logo" src="">
    <div class="is-flex">
      <img src="/logo.png" class="uavs-logo-larger">
      <b><p class="is-size-3" style="align-self: center; margin-left: 15px;">AmadorUAVs</p></b>
    </div>
  </div>
  <div class="row is-justify-content-center px-5" style="margin-top: 25px">
    <a href="https://www.youtube.com/channel/UCvOdhiomLIuf7heNPxDNJXw"><i class="fab fa-youtube fa-2x"></i></a>
    <a href="https://www.facebook.com/amadoruavs"><i class="fab fa-facebook fa-2x"></i></a>
    <a href="https://www.instagram.com/amadoruavs/"><i class="fab fa-instagram fa-2x"></i></a>
    <a href="https://www.twitter.com/amadoruavs"><i class="fab fa-twitter fa-2x"></i></a>
    <a href="https://www.medium.com/@AmadorUAVs"><i class="fab fa-medium fa-2x"></i></a>
    <a href="https://gitlab.com/amadoruavs"><i class="fab fa-gitlab fa-2x"></i></a>
    <a href="mailto:officers@amadoruavs.com"><i class="far fa-envelope fa-2x"></i></a>
  </div>
</footer>
<style>
.footer {
  padding: 24px;
  max-width: 100vw !important;
  width: 100vw !important;
}

.fab, .far {
  margin: 20px 20px !important;
}

@media (max-width: 640px) {
  .fab, .far {
    margin: 10px 10px !important;
  }
}
</style>
