<header class="header">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/logo.png" class="uavs-logo">
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="uavs-navbar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="uavs-navbar" class="navbar-menu">
      <div class="navbar-start">
<!--        <div class="navbar-item has-dropdown is-hoverable">-->
<!--          <a class="navbar-link">About Us</a>-->
<!--          <div class="navbar-dropdown">-->
            <a href="/about-us" class="navbar-item">About Us</a>
            <a href="/the-team" class="navbar-item">The Team</a>
<!--          </div>-->
        </div>
        <a href="/macron" class="navbar-item">Our Drone</a>
<!--        <div class="navbar-item has-dropdown is-hoverable">-->
<!--          <a class="navbar-link">Our UAVs</a>-->
<!--          <div class="navbar-dropdown">-->
<!--            <a href="/uavs/macron" class="navbar-item">Macron</a>-->
<!--            <a href="/uavs/micron" class="navbar-item">Micron</a>-->
<!--          </div>-->
<!--        </div>-->
        <a href="/join" class="navbar-item">Join</a>
        <a href="/streaming" class="navbar-item">Streaming</a>
        <!--div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">Projects</a>
          <div class="navbar-dropdown">
            <a href="/suas" class="navbar-item">AUVSI-SUAS</a>
            <a href="/streaming" class="navbar-item">Streaming</a>
            <a href="/uavcan" class="navbar-item">UAVCAN GCS</a>
            <a href="/gimbal" class="navbar-item">Gimbal</a>
            <a href="/px4" class="navbar-item">PX4 Contributions</a>
          </div>
        </div-->
        <a href="/sponsor" class="navbar-item">Sponsors</a>
        <a href="https://auvsi-suas.org" class="navbar-item">Competition</a>
<!--        <a href="#" class="navbar-item">Blog</a>-->
        <a href="https://gitlab.com/amadoruavs" class="navbar-item">Open Source</a>
<!--        <a href="#" class="navbar-item">Picture Gallery</a>-->
      </div>
    </div>
  </nav>
</header>
<script>
  document.addEventListener('DOMContentLoaded', () => {
      // Get all "navbar-burger" elements
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
      // Check if there are any navbar burgers
      if ($navbarBurgers.length > 0) {
          // Add a click event on each of them
          $navbarBurgers.forEach( el => {
              el.addEventListener('click', () => {
                  // Get the target from the "data-target" attribute
                  const target = el.dataset.target;
                  const $target = document.getElementById(target);
                  // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                  el.classList.toggle('is-active');
                  $target.classList.toggle('is-active');
                });
            });
        }
    });
</script>
<style>
  .header {
    position: absolute;
    display: flex;
    justify-content: center;
    padding: 1rem;
    width: 100vw;
  }

  .navbar {
    background: rgba(0, 0, 0, 0);
    padding-right: 3rem;
  }

  @media (max-width: 1024px) {
    .navbar {
      min-width: 80vw;
      padding-right: 0.25rem;
    }
    .navbar-menu {
      background: rgba(0, 0, 0, 0.9);
    }
  }

  .navbar-item, .navbar-link {
    color: white;
    transition: all 200ms;
    background: rgba(0, 0, 0, 0);
  }

  .navbar-item:hover, .navbar-link:hover {
    background: rgba(0, 0, 0, 0) !important;
    color: #3273dc !important;
  }

  .navbar-item:focus,.navbar-item:hover .navbar-link {
    background: rgba(0, 0, 0, 0) !important;
  }

  .navbar-burger {
    color: #EEE !important;
  }

  .navbar-dropdown {
    background: rgba(0, 0, 0, 0.8);
  }

  .uavs-logo {
    width: 42px;
    height: 36px;
    max-height: 42px !important;
  }

  .nav-lonk {
    color: white;
    text-decoration: none;
    transition: all 200ms;
  }

  .nav-lonk:hover {
    color: #34baeb;
  }
</style>
