<section id="hero" class="full-spread">
  <div class="hero-inner">
    <h1 class="beeg-title has-text-white" style="margin-top: auto">
      {{ .Params.hero_title }}
    </h1>
    <p class="beeg-subtitle is-4 has-text-white" style="margin-bottom: auto; margin-top: 20px;">
      {{ .Params.hero_tagline }}
    </p>
    <i data-feather="chevrons-down" style="color: white;"></i>
  </div>
</section>
<style>
  #hero {
    background:
      linear-gradient(
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
      url("{{ .Params.hero_image }}");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    vertical-align: bottom;
    padding-bottom: 4rem;
    padding: 1rem;
    text-align: center;
  }

  .hero-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    vertical-align: bottom;
    max-width: 960px;
    flex: 1;
  }
</style>
