<section class="full-spread has-text-white secshun about-section">
  <div style="max-width: 960px">
    <h2 class="beeg-subtitle">
      A Look Behind the Scenes
    </h2>
    <p class="pb-5">
      It takes a lot of technological effort for us to set up a production-quality
      livestream. Take a look at the various components of our streaming setup below.
    </p>
    <div class="row">
      <div class="mx-5 my-3 max-half">
        <img class="about-image mx-3" src="/killerkalyan.png" />
      </div>
      <div class="mx-5 my-3 max-half paragraph">
        <h3 class="beeg-subtitle">
          Antenna Tracker
        </h3>
        <p>
          In order to provide stable live video streams from our
          drone in the air, we've developed an autonomous antenna
          tracker to maintain a connection between the directional ground
          antenna and the drone. The antenna tracker runs custom firmware
          and uses GPS location and altitude data from the drone to maintain
          a connection at all times.
        </p>
      </div>
    </div>
  </div>
</section>
<style>
  .rtl {
    direction: rtl;
  }

  .max-half {
    max-width: 48%;
  }

  .paragraph {
    text-align: left;
  }

  .about-section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 4rem 1rem;
  }
  .about-section p {
    font-size: 18px;
  }
  .about-image {
    object-fit: cover;
    max-height: 500px;
    border-radius: 10px;
  }

</style>
