<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.8/lottie.min.js"
        integrity="sha512-w58XJ/0dVbEfZVJoJyBUOTMGBWmIW4jEYJSA0898d2L0Ghpum0FvwK7qTuHhkTctApzrchv3Neli+28ajI4+fg=="
        crossorigin="anonymous"></script>
</head>
<section class="ls-selection full-spread">
    <div class="ls-nav-bar">
        {{ range $livestream_index, $livestream := .Params.livestreams }}
        {{ if (eq $livestream_index 0) }}
        <button id="ls-nav-btn-{{ $livestream_index }}" class="ls-nav-btn ls-active-btn"
            onclick="switchSection('{{ $livestream_index }}')">
            {{ else }}
            <button id="ls-nav-btn-{{ $livestream_index }}" class="ls-nav-btn"
                onclick="switchSection('{{ $livestream_index }}')">
                {{ end }}
                {{ $livestream.nav_title }}
            </button>
            {{ end }}
    </div>
    {{ range $livestream_index, $livestream := .Params.livestreams }}
    {{ if (eq $livestream_index 0) }}
    <div id="ls-section-{{ $livestream_index }}" class="ls-section ls-active-section">
        {{ else }}
        <div id="ls-section-{{ $livestream_index }}" class="ls-section">
            {{ end }}
            <h1 class="ls-header">{{ $livestream.header }}</h1>
            {{ if $livestream.confetti }}
            <div class="confetti" id="confetti-{{ $livestream_index }}"></div>
            {{ end }}
            {{ if (eq $livestream.stream_id "placeholder") }}
            <div class="ls-preview">
                <div
                    style="height: 100%; width: 100%; background-color: #181818; display: flex; justify-content: center; align-items: center;">
                    <h1 class="ls-title">Coming Soon...</h1>
                </div>
            </div>
            {{ else }}
            <iframe class="ls-preview"
                src="https://www.youtube.com/embed/{{ $livestream.stream_id }}?enablejsapi=1&version=3&playerapiid=ytplayer"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            {{ end }}
            <div class="ls-text">
                <h1 class="ls-title">{{ $livestream.title }}</h1>
                <p class="ls-time">{{ $livestream.scheduled_time }}</p>
                <p class="ls-description">{{ $livestream.description }}</p>
                {{ if $livestream.include_archive_link }}
                <p class="archive-link">A playlist of all our archived football streams can be found <a target="_blank"
                        href="https://www.youtube.com/playlist?list=PLj2ZpiiZsNz7cdf2MSgIVmPIc0Hlr1WKB">here</a></p>
                {{ end }}
            </div>
        </div>
        {{ end }}
</section>
<script>
    let confettiContainers = document.getElementsByClassName("confetti");
    let confettis = [];
    for (let i = 0; i < confettiContainers.length; i++) {
        let confetti = bodymovin.loadAnimation({
            wrapper: confettiContainers[i],
            animType: 'svg',
            loop: false,
            autoplay: false,
            path: 'https://assets8.lottiefiles.com/packages/lf20_lbf9adxn.json'
        })
        confettis.push([confettiContainers[i], confetti]);
    }

    // play confetti animation on load
    confettis[0][0].style.display = "block";
    confettis[0][1].goToAndPlay(0, true);

    function switchSection(sectionIdx) {
        let activeBtn = document.querySelector(".ls-active-btn");
        let activeSection = document.querySelector(".ls-active-section");
        let livestreams = document.getElementsByClassName("ls-preview")
        for (let i = 0; i < livestreams.length; i++) {
            livestreams[i].contentWindow.postMessage('{"event":"command","func":"' + 'pauseVideo' + '","args":""}', '*');
        }

        activeBtn.classList.remove("ls-active-btn");
        activeSection.classList.remove("ls-active-section");


        let newActiveBtn = document.querySelector(`#ls-nav-btn-${sectionIdx}`)
        let newActiveSection = document.querySelector(`#ls-section-${sectionIdx}`)
        newActiveBtn.classList.add("ls-active-btn")
        newActiveSection.classList.add("ls-active-section")
        for (let i = 0; i < confettis.length; i++) {
            if (confettis[i][0].id == `confetti-${sectionIdx}`) {
                confettis[i][0].style.display = "block";
                confettis[i][1].goToAndPlay(0, true);
            }
        }
    }
</script>
<style>
    .ls-selection {
        padding-top: 5.2rem;
        background: linear-gradient(180deg, #000, #181818 5.2rem);
    }

    .ls-nav-bar {
        width: 100vw;
        padding: 0 10vw;
        display: flex;
    }

    .ls-nav-btn {
        outline: none;
        box-shadow: inset 0px 0px 2px #333;
        background-color: #000;
        color: white;
        font-size: 18px;
        border: none;
        height: 2.6rem;
        padding: 0 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .ls-nav-btn:hover {
        cursor: pointer;
        background-color: #111;
    }

    .ls-active-btn {
        box-shadow: none;
        background: #222;
        pointer-events: none;
    }

    .confetti {
        margin-top: 4rem;
        width: 64vw;
        height: 36vw;
        position: absolute;
        pointer-events: none;
        display: none;
    }

    .ls-section {
        min-height: calc(100% - 8.2rem);
        background:
            linear-gradient(180deg, #222222 36vw, #22222200),
            linear-gradient(135deg, #CE2A80D0, #8344BED0 50%, #2B8ECFD0),
            #222;
        display: none;
        flex-direction: column;
        align-items: center;
        color: white;
    }

    .ls-section a {
        color: rgb(128, 167, 240);
    }

    .ls-section a:hover {
        color: rgb(83, 136, 235);
    }

    .ls-active-section {
        display: flex;
    }

    .ls-header {
        text-transform: uppercase;
        font-size: 28px;
        font-weight: 900;
        width: 80vw;
        padding: 1vw 0;
    }

    .ls-preview {
        width: 80vw;
        padding: 0 8vw;
        background-color: black;
        height: 36vw;
    }

    .ls-text {
        width: 80vw;
        padding: 30px 0;
    }

    .ls-title {
        font-size: 30px;
        font-weight: 900;
    }

    .ls-time {
        font-size: 22px;
    }

    .ls-description,
    .archive-link {
        margin-top: 1rem;
        font-size: 18px;
    }

    @media (max-width: 900px) {
        .ls-nav-bar {
            padding: 0 1vw;
        }

        .ls-nav-btn {
            width: 100%;
            font-size: 15px;
        }

        .ls-active-btn {
            width: 150%;
        }

        .ls-header {
            font-size: 23px;
            padding: 2vw 0;
            width: 90vw;
        }

        .confetti {
            width: 100vw;
            height: 100vw;
        }

        .ls-preview {
            width: 96vw;
            background-color: black;
            height: 54vw;
        }

        .ls-text {
            width: 90vw;
            padding-top: 10px;
            padding-bottom: 30px;
        }

        .ls-title {
            font-size: 25px;
        }

        .ls-time {
            font-size: 20px;
        }
    }
</style>