<section class="macron-showcase full-spread">
  <h2 class="title is-2 has-text-centered has-text-white">
    A detailed look at Macron
  </h2>
  <div class="video-section">
    <div class="video">
      <div class="video-cover"></div>
      <video class="schematics-video" playsinline autoplay muted loop>
        <source src="/macron_schematics.mp4" type="video/mp4" />
      </video>
    </div>
    <div class="video-info">
      <div class="video-info-content">
        <div class="has-text-white">
          <p
            class="
              video-info-header
              is-size-3
              has-text-white has-text-weight-bold
            "
          ></p>
          <p class="video-info-text is-size-5"></p>
        </div>
        <div class="action-menu">
          <div>
            <button
              class="prev-btn button is-white is-outlined"
              onclick="prevPart()"
            >
              <i data-feather="chevron-left"></i>
              <span class="prev-btn-txt"> Previous Component </span>
            </button>
          </div>
          <div>
            <button
              class="next-btn button is-white is-outlined"
              onclick="nextPart()"
            >
              <span class="next-btn-txt"> Next Component </span>
              <i data-feather="chevron-right"></i>
            </button>
          </div>
        </div>
        <div class="loop-back has-text-white mt-1" onclick="loopBack()">
          <p class="is-inline-flex">
            <i data-feather="chevrons-left"></i>
            Overview
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  .macron-showcase {
    background: linear-gradient(
        135deg,
        #ce2a80aa,
        #ad369aaa 25%,
        #8344beaa 50%,
        #585ed3aa 75%,
        #2b8ecfaa
      ),
      #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .video-section {
    z-index: 0;
    /* 90% for phones, 100vh for computers/tablets: */
    width: min(90%, 100vh);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 20px #00000033;
  }
  .video {
    position: relative;
    overflow: hidden;
  }
  .video-cover {
    position: absolute;
    width: 200%;
    height: 200%;
    background-color: #00000000;
    transition: background-color 0.25s;
  }
  .schematics-video {
    width: 100%;
    max-height: 60vh;
  }
  .video-info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }
  .video-info > * {
    width: 100%;
  }
  .video-info:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #ffffff11;
    box-shadow: inset 0 0 2000px #ffffff33;
    filter: blur(10px);
    margin: -30px;
  }
  .video-info-content {
    transition: opacity 0.25s, transform 0.25s;
  }
  .action-menu {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  .action-menu > * {
    max-width: 50%;
  }
  .loop-back {
    display: inline-flex;
  }
  .loop-back:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  .loop-back.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
</style>
<script>
  const video = document.querySelector(".schematics-video");
  const videoCover = document.querySelector(".video-cover");
  const infoContent = document.querySelector(".video-info-content");
  const infoHeader = document.querySelector(".video-info-header");
  const infoText = document.querySelector(".video-info-text");
  const nextBtn = document.querySelector(".next-btn");
  const nextBtnText = document.querySelector(".next-btn-txt");
  const prevBtn = document.querySelector(".prev-btn");
  const prevBtnText = document.querySelector(".prev-btn-txt");
  const loopBackBtn = document.querySelector(".loop-back");

  const parts = [
    {
      title: "Overview",
      description:
        "This is our main competition drone Macron. Designed to compete in the AUVSI SUAS competition, it is a versatile machine that can perform a multitude of tasks. Eight motors in an alternating configuration are used to provide over 100 lb of lift. Carrying a three-axis gimbal, a Jetson Nano, a CUAV Nora flight controller, and two 10,000 mAh 6-cell batteries, Macron is capable of handling any survey task thrown at it.",
      time: 0,
    },
    {
      title: "Avionics",
      description:
        "Macron has several essential components that enable it to fly. An RFD900X Telemetry Module sends and receives important flight data from the ground station. Two CUAV RTK GPS modules are used for redundancy and accuracy. A FrSky X8R receiver enables manual control for the drone pilot. A Jetson Nano is a powerful computer that is used to run our autonomous detection code and systems. The heart of all of these components is the CUAV Nora flight controller, the “brain” of Macron, running the latest version of PX4.",
      time: 2.08,
    },
    {
      title: "Folding Legs",
      description:
        "Every drone needs landing gear and ours is custom-made to retract on take-off and extend on landing. Using 3D printed parts, end-stop switches, and lead screws, the legs can effortlessly fold to allow the use of the gimbal for survey tasks and filming.",
      time: 4.37,
    },
    {
      title: "Motors/Propellors",
      description:
        "A drone needs a propulsion system to get it in the air, and Macron is no different. It uses 8 huge 22-inch carbon-fiber props, paired with 130KV brushless motors, to generate nearly 100lbs of lift, more than enough to carry any payload. These propellers are arranged in an overlapping, alternating octocopter configuration, with half of the propellers in a standard configuration and half in a “pusher” configuration below the drone. Our propulsion system’s high efficiency and capability allow us to carry any necessary payload, while also providing much-needed flight time.",
      time: 6.21,
    },
    {
      title: "Gimbal Camera",
      description:
        "The gimbal is an important component for aerial imaging tasks. Macron is capable of mounting both a heavy-duty Gremsy T3 gimbal, for live video streaming tasks, or a lighter, custom-designed gimbal designed to fit our Imaging Source 21MP camera. The gimbal allows a stabilized image or video feed from the air, which is important for a drone constantly in motion.",
      time: 8.42,
    },
  ];
  let currPart = 0;
  // set initial state of video:
  video.currentTime = parts[currPart].time;
  video.pause();
  // set initial state of info section:
  updateInfo();

  function nextPart() {
    if (currPart < parts.length) {
      currPart++;
      updateWithVideo();
    }
  }

  function prevPart() {
    if (currPart > 0) {
      currPart--;
      updateWithVideo();
    }
  }

  function loopBack() {
    if (currPart !== 0) {
      currPart = 0;
      updateWithVideo();
    }
  }

  // updates macron showcase in accordance with currPart, including the video
  function updateWithVideo() {
    nextBtn.disabled = true;
    prevBtn.disabled = true;
    loopBackBtn.classList.add("disabled");
    transitionInfo();
    if (parts[currPart].time > video.currentTime) {
      // if currPart occurs later in the video, play the video up to this time
      // and then pause:
      let msToWait = (parts[currPart].time - video.currentTime) * 1000;
      video.play();
      setTimeout(() => {
        video.pause();
        nextBtn.disabled = false;
        prevBtn.disabled = false;
        loopBackBtn.classList.remove("disabled");
      }, msToWait);
    } else {
      // if currPart occured earlier in the video, fade to black and end up at
      // this part; playing in reverse is not allowed:
      videoCover.style.backgroundColor = "#000000";
      // wait 500ms since videoCover has a background-color transition of .25s:
      setTimeout(() => {
        videoCover.style.backgroundColor = "#00000000";
        video.currentTime = parts[currPart].time;
        nextBtn.disabled = false;
        prevBtn.disabled = false;
        loopBackBtn.classList.remove("disabled");
      }, 250);
    }
  }

  // updates video info in accordance with currPart
  function updateInfo() {
    if (currPart === 0) {
      prevBtn.style.display = "none";
    } else {
      prevBtn.style.display = "inline-flex";
      prevBtnText.innerHTML = parts[currPart - 1].title;
    }
    if (currPart === parts.length - 1) {
      nextBtn.style.display = "none";
    } else {
      nextBtn.style.display = "inline-flex";
      nextBtnText.innerHTML = parts[currPart + 1].title;
    }
    if (currPart > 1) {
      loopBackBtn.style.display = "inline-flex";
    } else {
      loopBackBtn.style.display = "none";
    }
    infoHeader.innerHTML = parts[currPart].title;
    infoText.innerHTML = parts[currPart].description;
  }

  // updates video info in accordance with currPart, with transitions:
  function transitionInfo() {
    infoContent.style.opacity = 0;
    infoContent.style.transform = "translateY(50px)";
    setTimeout(() => {
      updateInfo();
      infoContent.style.opacity = 1;
      infoContent.style.transform = "translateY(0px)";
    }, 250);
  }
</script>
