<section class="full-spread has-text-white secshun main-about-section">
  {{ range $section_index, $about_section := .Params.about_sections }}
    {{ if eq (mod $section_index 2) 0 }}
      <div class="about-section">
    {{ else }}
      <div class="about-section rtl">
    {{ end }}
        <img class="about-image" src="{{ $about_section.image }}"/>
        <div class="about-text">
          <h3 class="beeg-subtitle" dir=ltr>{{ $about_section.title }}</h3>
          <p dir=ltr>
            {{ $about_section.content }}
          </p>
        </div>
      </div>
  {{ end }}
</section>
<style>
  .rtl {
    direction: rtl;
  }
  .main-about-section {
    background-color: #000000;
    background-image: linear-gradient(60deg, black, gray);
  }
  .about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    margin: 15px 0;
    background-color: #FFFFFF20;
  }
  .about-section p {
    font-size: 18px;
  }
  .about-text, .about-image {
    width: 48%;
  }
  .about-image {
    object-fit: cover;
    max-height: 500px;
    border-radius: 10px;
  }
  @media (max-width: 960px) {
    .rtl {
      direction: ltr;
    }
    .about-section {
      flex-direction: column;
    }
    .about-text, .about-image {
      width: 80%;
      margin: 15px 0;
    }
  }

</style>
