{{ range $section_key, $section_val := .Params.sections }}
<section id="{{ $section_key }}" class="full-spread has-text-white secshun">
  <h3 class="beeg-heading">
    {{ $section_val.title }}
  </h3>
  <div class="row">
    {{ range $card := $section_val.cards }}
    <div class="card m-3" style="text-align: left">
      <div class="card-content constrained-card-content">
        <p class="title">
          {{ $card.title }}
        </p>
        <div class="content mb-auto">
          {{ $card.description }}
        </div>
<!--        <a href="{{ $card.link }}">See More &rarr;</a>-->
      </div>
    </div>
    {{ end }}
  </div>
  <div class="row">
    {{ range $button := $section_val.buttons }}
    <a href="{{ $button.link }}" class="button is-dark m-5">
      {{ $button.text }}
    </a>
    {{ end }}
  </div>
</section>
<style>
  #{{ $section_key }} {
    background:
      linear-gradient(
          rgba(0, 0, 0, 0.85),
          rgba(0, 0, 0, 0.85)
        ),
      url("{{ $section_val.background }}") no-repeat center;
      background-size: cover;
  }
</style>
{{ end }}
<style>
</style>
