{{ range $section_key, $section_val := .Params.sections }}
<section id="{{ $section_key }}" class="full-spread has-text-white secshun">
  <div class="row">
    <div>
      <img src="{{ $section_val.image }}">
    </div>
    <div>
      <h3 class="beeg-heading">
        {{ $section_val.title }}
      </h3>
      <p>
        {{ $section_val.text }}
      </p>
    </div>
  </div>
</section>
{{ end }}
<style>
  .secshun {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    vertical-align: bottom;
    padding: 4rem;
    text-align: center;
  }
</style>
