<section class="full-spread has-text-white secshun main-about-section">
  <div style="max-width: 1024px">
    <h1 class="beeg-subtitle">Meet the Divisions</h1>
    {{ range $section_index, $team_section := .Params.team_sections }}
    {{ if eq (mod $section_index 2) 0 }}
      <div class="about-section">
    {{ else }}
      <div class="about-section rtl">
    {{ end }}
      <div class="about-section-row">
        <img class="about-image mx-3" src="{{ $team_section.image }}" />
        <div class="about-text mx-3">
          <h3 class="beeg-subtitle" dir=ltr>{{ $team_section.name }}</h3>
          <p dir=ltr>
          {{ $team_section.description }}
          </p>
        </div>
      </div>
      <div class="row" style="max-width: 1024px">
        {{ range $member := $team_section.members }}
        <div class="member-section mx-5 my-5">
          <figure class="image is-128x128 mb-2">
            <img class="is-rounded" src='{{ index $member "image" | default "/member-placeholder.png" }}'>
          </figure>
          <h4 class="is-size-4">{{ $member.name }}</h4>
          <p class="is-size-6">{{ $member.role }}</p>
        </div>
        {{ end }}
      </div>
    </div>
    {{ end }}
  </div>
</section>
<style>
  .rtl {
    direction: rtl;
  }
  .main-about-section {
    background: linear-gradient(135deg,
                              #CE2A80,
                              #AD369A 25%,
                              #8344BE 50%,
                              #585ED3 75%,
                              #2B8ECF),
              #000;
    justify-content: start;
  }
  .about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 40px;
    border-radius: 15px;
    margin: 15px 0;
    background-color: #FFFFFF20;
  }

  .member-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-section-row {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    max-width: 960px;
  }

  @media (max-width: 960px) {
    .about-section-row {
      flex-wrap: wrap;
    }
  }

  .about-section p {
    font-size: 18px;
  }
  .about-text, .about-image {
    width: 48%;
  }
  .about-image {
    object-fit: cover;
    max-height: 500px;
    padding: auto;
    margin: 1rem 0;
    border-radius: 10px;
  }
  @media (max-width: 960px) {
    .rtl {
      direction: ltr;
    }
    .about-section {
      flex-direction: column;
    }
    .about-text, .about-image {
      width: 80%;
      margin: 15px 0;
    }
  }

</style>
