{{ partial "head.html" . }} {{ partial "header.html" . }}
<div
  style="
    position: absolute;
    width: 100%;
    top: 90px;
    background: linear-gradient(
        135deg,
        #ce2a80d0,
        #ad369ad0 25%,
        #8344bed0 50%,
        #585ed3d0 75%,
        #2b8ecfd0
      ),
      #000;
    color: white;
    padding: 16px;
  "
>
  <div style="max-width: 870px; margin-left: auto; margin-right: auto">
    <h1 style="font-size: 28px; font-weight: bold; margin-bottom: 8px">
      2nd Place Finish at SUAS
    </h1>
    <p style="margin-bottom: 4px">
      AmadorUAVs placed 2nd out of the 71 teams that participated at the
      international 2022 AUVSI SUAS competition.
    </p>
    <a
      href="https://www.pleasantonweekly.com/news/2022/07/21/amador-uavs-team-soars-to-second-place-in-international-competition"
      style="
        color: white;
        text-decoration: underline;
        display: inline-flex;
        align-items: center;
      "
    >
      Learn more<i
        data-feather="external-link"
        style="color: white; height: 12px"
      ></i>
    </a>
  </div>
</div>
<section id="macron-hero" class="full-spread">
  <h1 class="beeg-title has-text-white" style="margin-top: auto">AmadorUAVs</h1>
  <p class="beeg-subtitle is-4 has-text-white pb-5">
    Building the future of autonomous aviation
  </p>
  <i data-feather="chevrons-down" style="color: white"></i>
</section>
{{ partial "section.html" . (dict "context" . "sections" .Params.sections) }}
{{ partial "footer" . }}
<script>
  feather.replace();
</script>
